---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---
<Layout title="About">
	<h1>About</h1>
	<hr>
	<p>
		This website was built using <a href="https://astro.build/">Astro</a>, 
		a static site generator and a template called <a href="https://github.com/sudanchapagain/minimal-memoir">minimal-memoir</a>.
		The repo can be found on <a href="https://github.com/salty511/Portfolio">GitHub</a>.
	</p>
</Layout>