---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Card from "../components/Card.astro"
---

<Layout title="Isaac Salt">
  <h1>Isaac Salt</h1>
  <hr>

  <div class="flex flex-wrap justify-around">

      <Card imgSrc="/assets/img/190321-26_diff_eq_200nT.png" imgDesc="Masters Project - Geomagnetic Field Modelling" pageLink="/proj-gfm"/>
      <Card imgSrc="/assets/img/statify.png" imgDesc="Personalized Spotify Stats Website" pageLink="/proj-statify"/>
      <Card imgSrc="/assets/img/jwst_horizons.png" imgDesc="Gravitational Field Modelling & JWST Trajectory simulation" pageLink="/proj-jwst"/>
  </div>
  <br>
  <p>
    Recent MPhys Astrophysics graduate (2:1, University of Liverpool) with strong programming and analytical skills, 
    developed through research projects in data science, physical modelling, and machine learning. Experienced in Python, 
    data science/modelling and data visualization. Presented work at the European Space Agency’s Swarm Conference 2024. 
    Hardworking, motivated and eager to apply technical and research skills to solve real-world problems in data-driven roles.
  </p>
</Layout>
