---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Card from "../components/Card.astro"
---

<Layout title="Isaac Salt">
  <h1>Isaac Salt</h1>
  <hr>

  <div class="flex space-x-4 justify-around">

      <Card imgSrc="/assets/img/190321-26_diff_eq_200nT.png" imgDesc="Masters Project - Geomagnetic Field Modelling" pageLink="/proj-gfm"/>
      <Card imgSrc="/assets/img/statify.png" imgDesc="Personalized Spotify Stats Website" pageLink="/proj-statify"/>
      <Card imgSrc="/assets/img/jwst_horizons.png" imgDesc="Gravitational Field Modelling & JWST Trajectory simulation" pageLink="/proj-jwst"/>

  </div>
  <br>
  <p>
    I’ve recently graduated with a 2-1 Mphys in Astrophysics and am looking for work in data science, modelling and ML/AI methods. 
    I’m currently living back home in Brighton but am willing to relocate. 
    During my course I’ve developed strong programming skills, working mainly in Python for data science/modelling applications. 
    See some project examples above.
  </p>
</Layout>
