---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Statify">
	<h1>Personalized Spotify stats website</h1>
	<br>
	<img class="h-64" src="/assets/img/statify.png"/>
	<br>
	<a href="https://statify-salt.netlify.app/" target="_blank" rel="noopener noreferrer">See it here</a>
	<hr>
	<p>
		This project is a react app, created using the spotify API to display some
		information for spotify users about their top tracks for multiple time frames. Hosted on Netlify and using their serverless functions to handle
		authentication.
	</p>
</Layout>