---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="BA Project">
	<h1>Modelling Buyer Behavior for Airline Bookings</h1>
	<hr>
	<p>
		This project was part of the British Airways data science certification using in which I worked to model buyer behavior for customer bookings. The main thing I
		learned from this project was how the balance of target variable classes can affect the performance of a model, and how to use techniques such as oversampling 
		and undersampling to mitigate this.
		
	</p>
	<br>
	<p>The notebook can be found <a href="/proj-ba-nb">here</a></p>
</Layout>