---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Masters Project">
	<h1>Masters Project - Geomagnetic Field Modelling</h1>
	<br>
	<img class="h-64" src="/assets/img/190321-26_diff_eq_200nT.png"/>
	<br>
	<a href="/assets/Geomagnetic_Field_Modelling___Thesis (14).pdf" target="_blank" rel="noopener noreferrer"><p>Full Thesis PDF</p></a> 
	<hr>

	

	<p>
		My Masters project was an investigation into an alternative method for modelling the Earth's magnetic field.
		Traditionally full vector information of the field (measurements along each axis) is required for a useful model due to a non-uniqueness in models derived
		from total field intensity alone (Backus effect). This project centered on trying to use a feature of the dayside field (The Equatorial Electrojet) together
		with field intensity data. The EEJ essentially acts as a proxy for the magnetic equator, where the radial component of the field is 0. Meaning we can constrain
		the model around this pseudo vector information along the equator. 
		
	</p>
	<br>
	<p>
		Work was presented at the <a href="https://www.swarm-anniversary-and-science.org/">2024 ESA Swarm Conference in Copenhagen</a>
	</p>
	
</Layout>