---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Statify">
	<h1>Personalized Spotify stats website</h1>
	<br>
	<img class="h-64" src="/assets/img/statify.png"/>
	<br>
		<a href="https://statify-salt.netlify.app" target="_blank">
        	<img src="https://img.shields.io/badge/Live%20Demo-Netlify-green?style=flat-square&logo=netlify" alt="Live Demo Badge">
   		</a>
	<hr>
	<ul> 
		<li><b>Goal:</b> Create a web app that visualizes personalized Spotify statistics across different time ranges using the Spotify Web API.</li>
		<br>
		<li><b>Tools/Tech:</b>JavaScript, React, Spotify API, Netlify, OAuth2</li>
	</ul>
	<br>
	<p>
		This project is a modern React web app that connects to the Spotify Web API to display user-specific listening data such as top tracks and artists 
		across short, medium, and long-term periods. It handles authentication via OAuth2 and uses Netlify serverless functions in place of a full backend.
	</p>
	<br>
	<p>
		The frontend is styled for clarity and responsiveness, offering a simple but interactive interface for exploring your listening habits. 
		Hosted on Netlify.
	</p>
	<br>
	<p>
		🔗 <b>Repo:</b> <a href="https://github.com/salty511/Statify" target="_blank">Statify</a>
	</p>

</Layout>