---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---
<Layout title="JWST Simulation">
	<h1>JWST Simulation</h1>
	<br>
	<img class="h-64" src="/assets/img/jwst_horizons.png"/>
	<hr>

	<p>
		This project involved developing a Runge-Kutta numerical solver in Python to simulate the gravitational field in the solar system. Ending with a simulation of
		the trajectory of the James Webb Space Telescope. We took the initial conditions from the NASA Horizons database and propagated the orbit out to L2,
		with the solution diverging from Horizons after a couple of months.
	</p>

</Layout>