---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Masters Project">
	<h1>Statify - Personalized Spotify stats website</h1>
	<hr>
	<a href="https://statify-salt.netlify.app/" rel="noopener">Link</a>
</Layout>