---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="BA Project">
	<h1>Modelling Buyer Behavior for Airline Bookings</h1>
	<br>
	<img class="h-72" src="/assets/img/pre-roc-curve.png"/>
	<hr>

	<ul> 
		<li><b>Goal:</b> Model buyer behavior for airline customer bookings to improve prediction accuracy despite imbalanced target classes.</li>
		<br>
		<li><b>Tools/Tech:</b> Python, Pandas, scikit-learn, Random Forest, Sampling techniques (oversampling, undersampling)</li>
	</ul>
	<br>
	<p>
		This project was part of the British Airways data science certification in which I worked to model buyer behavior for customer bookings using random forest methods. 
		The main thing I learned from this project was how the balance of target variable classes can affect the performance of a model, 
		and how to use techniques such as oversampling and undersampling to mitigate this.
	</p>
	<br>
	<p>
		📘 <b>Rendered Notebook:</b> <a href="https://github.com/salty511/ba-data-course/blob/master/buying-behaviour-modelling.ipynb" target="_blank">View on GitHub</a>
	</p>
</Layout>